@font-face {
  font-family: "Product Sans";
  src: url("../assets/fonts/product-sans/ProductSansRegular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Product Sans";
  src: url("../assets/fonts/product-sans/ProductSansBold.ttf");
  font-weight: bold;
}
/*  Style for WhiteBoard  */
.editor {
  display: flex;
  position: relative;
  flex-direction: row;
  font-family: "Product Sans";
  font-size: 13px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.canvasBox {
  position: relative;
  background-color: #d8d8d8;
  margin: 0 5px 0 0;
  padding: 0;
  overflow: scroll;
  -webkit-transition: max-width 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s,
    margin-left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: max-width 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s,
    margin-left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: inherit;
  
}
.canvas {
  position: relative;
  box-sizing: inherit;
  display: block;
}
.layer_wrapper {
  height: 100%;
  position: relative;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.canvas_grid {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iMCAwIDUwIDUwIj4KPGRlZnM+CjxzdHlsZT4uYXtmaWxsOiNhZmFmYWY7fS5iLC5je2ZpbGw6bm9uZTtzdHJva2U6I2FmYWZhZjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9LmJ7c3Ryb2tlLWRhc2hhcnJheToxIDE7fTwvc3R5bGU+CjwvZGVmcz4KPHBhdGggY2xhc3M9ImEiIGQ9Ik01MCwxVjUwSDFWMUg1MG0xLTFIMFY1MUg1MVYwWiIvPgo8bGluZSBjbGFzcz0iYiIgeTE9IjEwLjUiIHgyPSI0OSIgeTI9IjEwLjUiLz4KPGxpbmUgY2xhc3M9ImIiIHkxPSIyMC41IiB4Mj0iNDkiIHkyPSIyMC41Ii8+CjxsaW5lIGNsYXNzPSJiIiB5MT0iMzAuNSIgeDI9IjQ5IiB5Mj0iMzAuNSIvPgo8bGluZSBjbGFzcz0iYiIgeTE9IjQwLjUiIHgyPSI0OSIgeTI9IjQwLjUiLz4KPGxpbmUgY2xhc3M9ImIiIHgxPSIxMC41IiB5MT0iNDkiIHgyPSIxMC41Ii8+CjxsaW5lIGNsYXNzPSJiIiB4MT0iMjAuNSIgeTE9IjQ5IiB4Mj0iMjAuNSIvPgo8bGluZSBjbGFzcz0iYiIgeDE9IjMwLjUiIHkxPSI0OSIgeDI9IjMwLjUiLz4KPGxpbmUgY2xhc3M9ImIiIHgxPSI0MC41IiB5MT0iNDkiIHgyPSI0MC41Ii8+Cjwvc3ZnPg==);
  background-repeat: repeat;
  background-size: 50px;
  background-position: 11000px 4000px;
}
.canvas__layer {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  vertical-align: middle;
  overflow-clip-margin: content-box;
}
.activeFloor {
  display: block;
}
.floor {
  display: none;
}

/*  Style for ToolBar  */

.toolBar {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 480px;
  border-radius: 3px;
  z-index: 7;
  display: block;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 40px;
}

.toolBarItem {
  position: relative;
}

.toolBarbutton {
  display: flex;
  width: 40px;
  height: 40px;
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 3px;
}
.toolBarbutton:hover{
  background-color: lightblue;
}
.toolBarbutton:active {
  background-color: lightblue;
}

/* Style of the floor button */
.basicPanelContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.basicPanel {
  left: 45px;
  top: 0px;
  overflow-y: none;
  position: absolute;
  padding: 10px;
  background-color: rgb(245, 245, 245); 
  color: #4a4a4a;
  min-width: 160px;
  min-height: 260px;
  max-height: 260px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
}
.floorsSidePanel{
  overflow-y: scroll;
  left: 230px;
  top: 0px;
  position: absolute;
  background-color: transparent; 
  color: #4a4a4a;
  border-radius: 5px;
  z-index: 11;
  height: 280px;
}
.floorsSidePanelItem{
  width: 43px;
  height: 43px;
  background-color: rgb(245, 245, 245); 
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.floorsSidePanelItem:hover{
  background-color: #e4e4e4;
}

.ActiveFloorTitle{
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  width: 100px;
  border-bottom: #D9D9D9 1px solid;
}
.WallListText{
  color: #000;
  font-family: "Product Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 8px;
}
.WallListTextButtonContainer{
  display: flex ;
  flex-direction: column;
  overflow-y: scroll;
  height: 200px;
}
.WallListTextButton{
  color: #000;
  font-family: "Product Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 10px 0px;
}
.WallListTextButton:hover{
  background-color: #e4e4e4;
}
/* Hide scrollbar track for WebKit browsers */
.basicPanel::-webkit-scrollbar {
  width: 0; /* Set width to 0 to hide scrollbar */
}
.WallListTextButtonContainer::-webkit-scrollbar {
  width: 0;
}
.canvasBox::-webkit-scrollbar {
  width: 0;
}
.canvasBox::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Optional: Customize the appearance of the scrollbar thumb */
.basicPanel::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.floorsSidePanel::-webkit-scrollbar {
  width: 0;
}
.floorsSidePanel::-webkit-scrollbar-thumb {
  background-color: transparent;
}


/* Wall info styles */

.WallInfoContainer{
  width: 380px;
  height: 260px;
  background-color: white;
  position: absolute;
  right: 20px;
  border-radius: 5px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 15px;
}
.WallInfoTitleContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: #D9D9D9 1px solid;
}
.WallInfoTitle{
  color: #000;
  font-family: "Product Sans";
  font-size: 32px;
  width: auto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 20px;
}
.WallTable{
  margin-right: 5px;
}
.WallCord{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: #000;
  border-radius: 5px;
  background: #D9D9D9;
  font-family: "Product Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.WallBaseTitle{
  color: #000;
  font-family: "Product Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.WallBase{
  width: 80px;
  height: 40px;
  min-height: 40px;
  display: flex;
  font-size: 18px;
  align-items: center;
  margin-top: 5px;
  padding: 0px;
  padding-left: 10px;
  border-radius: 5px;
  background: #D9D9D9;
}
.Xicon{
  fill: pink;
}
.zoomContainer{
  position: absolute;
  margin: auto;
  bottom: 30px;
  right: 20px;
  border-radius: 3px;
  z-index: 7;
  display: block;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  width: 120px;
  height: 40px;
}
.zoomBoxContainer{
  display: flex;
  width: 100%;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.zoomBarbutton {
  display: flex;
  width: 40px;
  height: 40px;
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 3px;
}
.zoomText {
  display: flex;
  width: 40px;
  height: 40px;
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}